/* Nav Bar CSS */


/* Header CSS */



/* Section CSS */
.col-sm-6
{
    background-color:pink  ;
    border: medium;
    border-color: grey;
    
}


/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */


